<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <div class="site-background"></div>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="page-banner">
          <h1 class="page-banner-title">Unsh Rawal</h1>
          <p class="page-banner-subtitle">Software Developer</p>
          {{ content }}
        </div>
      </div>
      <section id="experience" class="projects-section">
        <h2 class="section-title">EXPERIENCE</h2>
        <div class="card-grid">

          <div class="project-card">
            <h2>NASA/ARISS</h2>
            <h3>SWE Intern</h3>
            <p>Developed a cross-platform distributed application to control robots locally & remotely via Bluetooth, internet, or APRS radio protocols.</p>
            
            <div>
              <span class="tag">Java</span>
              <span class="tag">JavaFX</span>
              <span class="tag">Python</span>
              <span class="tag">ZeroMQ</span>
              <span class="tag">Unity</span>
              <span class="tag">Distributed Systems</span>
            </div>

            <a href="https://github.com/ariss-usa/STAR" target="_blank" class="github-link">
              View Code
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
              </svg>
            </a>
          </div>
          <div class="project-card">
            <h2>RadiantLogic</h2>
            <h3>SWE Intern</h3>
            <p>Created a customer support agent, utilizing AWS to store and learn from conversations given expert feedback.</p>
            <div>
              <span class="tag">Python</span>
              <span class="tag">Langchain</span>
              <span class="tag">AWS S3</span>
              <span class="tag">AWS ECS</span>
              <span class="tag">Pinecone</span>
              <span class="tag">Slack</span>
            </div>
          
          </div>
          <div class="project-card">
            <h2>RadiantLogic</h2>
            <h3>SWE Intern</h3>
            <p>Tested & benchmarked 
                <a href="https://arxiv.org/pdf/2402.07630" target="_blank" rel="noopener">
                  G-Retriever
                </a>, a novel RAG technique for graph QA, on explaining anomalies in corporate hierarchies.
            </p>
            <div>
              <span class="tag">Python</span>
              <span class="tag">Jarvis Labs</span>
              <span class="tag">RAG</span>
              <span class="tag">LLM Finetuning</span>
            </div>
          </div>
        </div>
      </section>

      <section id="projects" class="projects-section">
        <h2 class="section-title">PROJECTS</h2>
        <div class="card-grid">
          <div class="project-card">
            <h2>Sharded Key-Value Store</h2>
            <p>Implemented a Paxos-based distributed store supporting shard migration, reconfiguration, and maintaining liveness</p>
            
            <div>
              <span class="tag">Paxos</span>
              <span class="tag">Shard Rebalancing</span>
              <span class="tag">Fault Tolerance</span>
            </div>
            <a href="https://gitfront.io/r/unshrawal/6ttfXMxkvHyK/dslabs-371d/" target="_blank" class="github-link">
              View Code
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
              </svg>
            </a>
          </div>

          <div class="project-card">
            <h2>Paxos Consensus</h2>
            <p>Implemented Paxos consensus to tolerate minority server failures, with round-robin leader election to ensure liveness during network partitions.</p>
            <div>
              <span class="tag">Quorum Safety</span>
              <span class="tag">Log Truncation</span>
              <span class="tag">Leader Election</span>
              <span class="tag">Liveness</span>
            </div>
            <a href="https://gitfront.io/r/unshrawal/6ttfXMxkvHyK/dslabs-371d/" target="_blank" class="github-link">
              View Code
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
              </svg>
            </a>
          </div>

          <div class="project-card">
            <h2>Pintos: User Programs</h2>
            <p>Built user program support in Pintos with syscall handling, user memory validation, dynamic stack setup, file descriptor management, and write protections for running executables.</p>
            <div>
              <span class="tag">C</span>
              <span class="tag">Process Loading</span>
              <span class="tag">Pointer Validation</span>
              <span class="tag">Syscall Interface</span>
            </div>
          </div>

          <div class="project-card">
            <h2>System Emulator</h2>
            <p>Built a full-cycle simulator for a pipelined CPU with hazard detection, forwarding, and a write-back cache, modeling stalls and cache penalties</p>
            <div>
              <span class="tag">C</span>
              <span class="tag">Pipelining</span>
              <span class="tag">Hazard Handling</span>
              <span class="tag">Write-back Cache</span>
              <span class="tag">Forwarding & Stalls</span>
            </div>
            <a href="https://github.com/CS429-SP2024/se-lab-unsh-avi" target="_blank" class="github-link">
              View Code
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
              </svg>
            </a>
          </div>

        </div>
        <section id="contact" class="contact-section">
          <h2 class="section-title">CONTACT</h2>
          <p class="contact-text">
            I'm always happy to connect! Feel free to reach out via email or socials.
          </p>
          <ul class="contact-links">
            <li><a href="mailto:unshrawal@gmail.com">unshrawal@gmail.com</a></li>
            <li><a href="https://www.linkedin.com/in/unsh-rawal-88b357214/" target="_blank">LinkedIn</a></li>
            <li><a href="https://github.com/unshrawal" target="_blank">GitHub</a></li>
          </ul>
        <div>
          <a href="https://drive.google.com/file/d/1xMZ2KedvNpR3UY8JsL96a0W8ILsRNW-4/view?usp=sharing" target="_blank" class="resume-button">View Resume</a>
        </div>
        </section>

      </section>

    </main>



    <!--{%- include footer.html -%} -->

  </body>

</html>
